extends ../layout

block header
  include ../includes/navigation

block content
  div.container.my-5
    div.row
      div.col-6
        div.card
          div.card-body
            form(method="post")
              input(type="hidden", name="id", value="#{product.id}")
              div.form-group
                label Name
                input(type="text", name="name", placeholder="Name", value="#{product.name}", required).form-control
              div.form-group
                label Price
                input(type="text", name="price", placeholder="Price", value="#{product.price}").form-control
              div.form-group
                label Quantity
                input(type="text", name="quantity", placeholder="Quantity" value="#{product.quantity}").form-control
              div.form-group
                if(categories.length)
                  label Category
                  select(name="cat_id").form-control
                    option(value="") –
                    for category in categories
                      option(value="#{category.id}" selected='#{category.cat_name}' == '#{product.cat_name}') #{category.cat_name}
              div.form-group
                div.btn-group
                  button(type="submit", formaction="/product/update/?id=#{product.id}").btn.btn-primary Update Product
                  button(type="submit", formaction="/product/delete/?id=#{product.id}").btn.btn-danger Delete Product