extends ../layout

block content
  if(query.status == 'created') 
    p Product #{query.name} created!
  if(query.status == 'updated')
    p Product #{query.id} updated!
  if(query.status == 'deleted') 
    p Product #{query.id} deleted!
  div.btn-group
    a(href="/products/new").btn.btn-success New Product
  table.table.table-striped.table-bordered.mt-5
      thead
        th Name
        th Price
        th Quantity
        th Total
      tbody
        each product in products
          tr
            td
              a(href="/products/#{product._id}")=product.name
            td='$'+product.price
            td=product.quantity
            td='$'+total(product.price, product.quantity)